
body{
    background: rgb(125, 217, 203);
    font: normal 15pt arial;
}
header{
background: rgb(125, 217, 203);
}
h1{
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(56, 56, 56);
}
footer{
    color: white;
    text-align: center;
    font-style: italic;

}